[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
cryptography = "*"
pyjks = "*"
PyYAML = "*"

[dev-packages]
mypy = "*"
"flake8" = "*"
pytest = "*"
black = "==19.3b0"
invoke = "*"

[requires]
python_version = "3.7"
